---
name: PR Labels

# yamllint disable-line rule:truthy
on:
  pull_request:
    types:
      - opened
      - labeled
      - unlabeled
      - synchronize

permissions: {}

jobs:
  workflows:
    uses: hassio-addons/workflows/.github/workflows/pr-labels.yaml@bf24a85062d78a850e6747e4040527d40e023abd # v2.0.5
