---
name: Repository Updater

# yamllint disable-line rule:truthy
on:
  repository_dispatch:
    types: ["update"]

jobs:
  workflows:
    uses: hassio-addons/workflows/.github/workflows/repository-updater.yaml@main
    secrets:
      GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      UPDATER_TOKEN: ${{ secrets.UPDATER_TOKEN }}
